* {
  font-family: "Lato", sans-serif;
}

body{
  background-color: var(--black);
  color: var(--yellow);
}


h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Orbitron", sans-serif;
}

:root {
  --yellow: rgb(255, 232, 31);
  --black: rgb(23, 23, 23);
  --red: rgb(228, 32, 43);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-black {
  background-color: var(--black);
}

.bg-red {
  background-color: var(--red);
}

.text-yellow {
  color: var(--yellow);
}

.text-black {
  color: var(--black);
}

.text-red {
  color: var(--red);
}

/* navbar */

.logo2{
  width: 100px;
  transition: 0.5s;
}

.navbar{
    height: 60px;
    transition: 0.5s ;
}

.nav-link {
  color: var(--yellow);
  font-weight: 600;
}

.nav-link:focus {
  color: var(--yellow);
}

.nav-link:hover {
  color: white !important;
  text-shadow:
    2px 2px 5px var(--red),
    -2px -2px 5px var(--red);
}

.nav-link:hover {
}

.logo {
  width: 50px;
}

.logo:focus-visible {
  outline: 0;
}


/* header */

.header{
  background-image: linear-gradient(rgba(0,0,0), transparent, rgba(0,0,0)), url(./media/star\ wars\ hyperspace.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}


.btn-custom{

  color: var(--yellow);
  background-color: var(--black);
  border: 2px solid var(--yellow);
  border-radius: 50px;
  margin: 0px 15px;
  padding: 20px 30px;
  transition: 0.3s;
}

.btn-custom:hover{
  color: var(--black);
  background-color: var(--yellow);
  transform: scale(1.1);
}

/* positioned */

.positioned{
position: relative;
top: -150px;
}

.col-custom{
  color: var(--black);
  padding: 10px;
  border: 2px solid var(--black);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.col-custom:hover{
  transform: scale(1.1);
  background-color: var(--black);
  color: var(--red);
}



/* numbers */


.number{

font-size: 50px;
font-weight: 900;

}

.swiper{
  height: 600px;
}

.card-review{
  height: 250px;
  width: 500px;
  border: 2px var(--yellow) solid;
  border-radius: 22px;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 600px){
  .positioned{
    position: static;
  }
}